<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--    创建Hello对象
            Hello hello = new Hello();
            通过<bean>标签来来创建Hello对象
            id: 这个对象叫什么名字
            class: 这个对象在哪里
            property: 对属性赋值
            -->
    <bean id="hello" class="pojo.Hello">
        <property name="str" value="蒋厚森"></property>
    </bean>
</beans>